
html {
    background-color: #ecf0f1;
    font-family: "Comic Sans MS", sans-serif;

}

body {
    min-width: 600px;
}

header,
main,
footer,
nav {
    margin: 1rem;
}

header,
main,
footer {
    background-color: rgba(139, 136, 136, 0.55);
}

header {
    overflow: auto;
}

header,
footer {
    background-color: #6541a5;
    color: rgba(255, 0, 0, 0.84);
    padding: 1rem;
}


/*
header h1 {
    float: left;
}

header img {
    float: right;
}
*/
nav {
    background-color: #647cba;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

/*
nav ul li {
    float: left;
}
 */

nav ul li a {
    color: #2c3e50;
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #00a2d3;
    color: #ecf0f1;
}

nav ul li a.active {
    background-color: #23abb3;
    color: #ecf0f1;
}

main {
    padding: 1.5rem;
}

main h2 {
    border-bottom: 1px solid #f60046;
    margin-bottom: 2rem;
}

.table-list {
    border-collapse: separate;
    color: #2c3e50;
    width: 100%;

    border: solid black 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

.table-list,
.table-list th,
.table-list td {
    border: 1px solid rgba(8, 59, 161, 0.54);

}


.table-list th,
.table-list td {
    padding: 0.5rem;
    text-align: center;


}

.table-list th,
.table-list tbody tr:nth-child(even) {
    background-color: #ecf0f1;
}

footer {
    text-align: center;
}

.list-actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list-actions li {
    display: inline-block;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    width: 75px;
}

/*.list-actions-button-details,*/
/*.list-actions-button-edit,*/
/*.list-actions-button-delete {*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    color: white;*/
/*    font-size: 0.8rem;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*}*/

.list-actions-button-details,
.list-actions-button-edit {
    margin-right: 1rem;
}

.list-actions-button-details {
    background-color: #2941b9;
}

.list-actions-button-details:hover {
    background-color: #345edb;
}

.list-actions-button-edit {
    background-color: rgba(202, 18, 243, 0.75);
}

.list-actions-button-edit:hover {
    background-color: rgb(192, 15, 241);
}

.list-actions-button-delete {
    background-color: #c0392b;
}

.list-actions-button-delete:hover {
    background-color: #e74c3c;
}

/*.list-actions-button-details,*/
/*.list-actions-button-edit,*/
/*.list-actions-button-delete,*/
/*.button-add {*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    color: rgba(0, 0, 0, 0.2);*/
/*    text-decoration: none;*/
/*    text-align: center;*/
/*    font-size: 0.8rem;*/
/*}*/

.button-add {
    padding: 0.5rem 1rem;
}

.button-add {
    background-color: #7d1aaf;
}

.button-add:hover {
    background-color: #0ebb5e;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

.form {
    margin-left: 2rem;
    /*width: 300px;*/
}

.form select,
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"] {
    border: 1px solid #7f8c8d;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

.form label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group {
    margin-bottom: 1rem;
}

abbr[title='required'] {
    color: #c0392b;
}

.errors-text {
    color: #c0392b;
    font-size: 0.85em;
    line-height: 2.25rem;
}

.form input.error-input,
.form select.error-input {
    border: 3px solid #e74c3c
}

.form-buttons {
    margin-top: 2rem;
    grid-column: 1 / span 1;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel {
    border: none;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}

.button-add,
.form-button-submit,
.form-button-cancel {
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}

.button-add,
.form-button-submit {
    background-color: #0a381e;
}

.button-add:hover,
.form-button-submit:hover {
    background-color: #096c33;
}

.form-button-cancel,
.list-actions-button-delete {
    background-color: #581c15;
}

.form-button-cancel:hover,
.list-actions-button-delete:hover {
    background-color: #8d3125;
}

.form-button-submit,
.form-button-cancel {
    width: 100%;
}

.form-button-cancel {
    box-sizing: border-box;
    display: block;
}

.form-button-submit {
    margin-bottom: 0.5rem;
}

/*      FLEX BOX       */

header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.form {
    display: grid;
    grid-template-columns: 150px 300px 1fr;
    column-gap: 1rem;
    grid-column: 1 / span 2;
    row-gap: 1rem;
}

body {
    min-width: 360px;
}

@media all and (max-width: 720px) {
    header {
        flex-direction: column;
    }

    header h1 {
        text-align: center;
    }

    header img {
        align-self: center;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        flex-basis: 50%;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .form {
        grid-template-columns: 1fr;
        row-gap: unset;
        margin-left: unset;
    }

    .form .errors-text {
        margin-bottom: 1rem;
    }


}

@media all and (max-width: 400px) {
    body,
    nav,
    nav ul,
    header,
    main,
    footer {
        margin: 0;
    }

    nav ul li {
        flex-basis: 100%;
    }
}
