<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <title>Loot Drop</title>
</head>
<body>
<header>
    <h1>Loot Drop</h1>
    <img src="../../public/images/logo.png" alt="Loot Drop Logo">
</header>
<nav>
    <ul>
        <li><a href="../index.ejs">Main page</a></li>
        <li><a href="boss-list.ejs">Bosses</a></li>
        <li><a href="views/pages/weapons-list.ejs">Weapons</a></li>
        <li><a href="" class="active">Drops</a></li>
    </ul>
</nav>
<main>
    <h2>New drop</h2>
    <form class="form">
        <!--        <div class="form-group">-->
        <label for="WeaponName">Weapon name<sup>*</sup></label>
<!--        <input type="text" name="Name" id="WeaponName">-->
        <select id="WeaponName" name="Name">

            <option value="" selected disabled hidden>Choose here</option>
            <option value="Armageddon">Armageddon</option>
            <option value="Bloodied Dualblade">Bloodied Dualblade</option>
            <option value="Impure Mithril Edge">Impure Mithril Edge</option>
            <option value="Hell's Scream">Hell's Scream</option>
            <option value="Soul-Forged Fang">Soul-Forged Fang</option>
            <option value="Dustbringer">Dustbringer</option>
            <option value="Winterthorn">Winterthorn</option>
            <option value="Memoire">Memoire</option>
            <option value="Torment">Torment</option>
            <option value="Phantom">Phantom</option>
            <option value="Pure Scroll">Pure Scroll</option>
        </select>

        <label for="BossName">Boss name<sup>*</sup></label>
        <select id="BossName" name="Name">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Nimran">Nirman</option>
            <option value="Byldror">Byldror</option>
            <option value="Jetid">Jetid</option>
            <option value="Ulrenth">Ulrenth</option>

        </select>
<!--        <input type="text" name="Name" id="Boss Name">-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <label for="DropChance">Drop chance:<sup>*</sup></label>
        <input type="number" min="0" max="100" name="Location" id="DropChance">
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <label for="minDifficulty">Min difficulty<sup>*</sup></label>
        <input type="number" name="minDifficulty" id="minDifficulty">

        <label for="minGroupSize">Min group size<sup>*</sup></label>
        <input type="number" name="minGroupSize" id="minGroupSize">

        <label for="dateStart">Date start<sup>*</sup></label>
        <input type="date" name="dateStart" id="dateStart">

        <label for="dateEnd">Date end<sup>*</sup></label>
        <input type="date" name="dateEnd" id="dateEnd">
        <!--        </div>-->
        <div class="form-buttons">
            <input type="submit" value="Add" class="form-button-submit">
            <a href="views/pages/drop-list.ejs" class="form-button-cancel">Cancel</a>
        </div>
    </form>

</main>
<footer>
    Gustaw Ignut, s19115
</footer>
</body>
</html>