<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <title>Loot Drop</title>
</head>
<body>
<header>
    <h1>Loot Drop</h1>
    <img src="../../public/images/logo.png" alt="Loot Drop Logo">
</header>
<nav>
    <ul>
        <li><a href="../index.ejs">Main page</a></li>
        <li><a href="boss-list.ejs">Bosses</a></li>
        <li><a href="" class="active">Weapons</a></li>
        <li><a href="drop-list.ejs">Drops</a></li>
    </ul>
</nav>
<main>
    <h2>New weapon</h2>
    <form class="form">
        <!--        <div class="form-group">-->
        <label for="Name">Name:<sup>*</sup></label>
        <input type="text" value="Armageddon" name="Name" id="Name">
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <label for="Damage">Damage:<sup>*</sup></label>
        <input type="number" value="1" name="Damage" id="Damage">
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <label for="DamageType">Damage Type<sup>*</sup></label>
        <input type="number" value="40" name="DamageType" id="DamageType">
        <!--        </div>-->
        <div class="form-buttons">
            <input type="submit" value="Save" class="form-button-submit">
            <a href="views/pages/weapons-list.ejs" class="form-button-cancel">Cancel</a>
        </div>
    </form>

</main>
<footer>
    Gustaw Ignut, s19115
</footer>
</body>
</html>